body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 100%;
    background: #ebebeb url("/images/gradient.jpg") repeat-x left top;
    overflow: hidden;
}

div { padding:0; margin:0; }
p { margin: 0 0 8px 0; line-height: 140%; }
h1, h2, h3, h4, h5 { margin: 5px 0; }
a { color: #444; }
a:visited { color: #888; }
a:hover { color: #000; }
li { line-height: 120%; margin-bottom: 8px; }

#page { width: 90%; margin: auto; }
#page:not(.edit) .if_edit { display: none; }

#page-heading {
    border-bottom: 2px solid black;
    padding-bottom: 4px;
    position: relative;
    width: 100%;
}

span.menu-bar {
    position: absolute;
    display: block;
    bottom: 3px;
    right: 0;
    color: gray;
    font-size: 0.5em;
    text-align: right;
}
span.menu-bar div#phantom {
  position: absolute;
  left: -9999px;
  z-index: -1;
}
div#phantom pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%;
  border: 1px solid;
  padding: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
}

#page:not(.edit) #select { display: none; }
#page.edit #select { display: visible; }
#page:not(.edit) #insert { display: none; }
#page.edit #insert { display: visible; }

#inputBlock { width: 48%; float: right; }
#page #outputBlock { overflow: hidden; position: relative; }
#page.edit #outputBlock { width: 48%; float: left; margin: 0; }
#page:not(.edit) #outputBlock { width: 100%; }

#output {
  position: relative;
  -webkit-transition: -webkit-transform 0s;
  height: 700px;
  -webkit-transform-origin: top left; 
  -moz-transform-origin: top left; 
  -o-transform-origin: top left; 
  -ms-transform-origin: top left; 
  transform-origin: top left;
}
#page.edit #output { width: 900px; }
#page:not(.edit) #output { width: 1300px; }

#nav { width: 100%; height: 50px; position: absolute; }
#nav #prev { float: left; }
#nav #next { float: right; }
#nav #pos { text-align: center; width: 100%; height: 100%; position: absolute; line-height: 50px; z-index: -1; }


#page.edit #nav input { margin-top: 10px; width: 60px; height: 30px; }
#page:not(.edit) #nav input { margin-top: 5px; width: 70px; height: 30px; }
#page.edit #nav #pos { font-size: 14px; }
#page:not(.edit) #nav #pos { font-size: 16px; }


textarea {
  font-family: 'Courier New', Courier, monospace;
  font-size: inherit;
  width: 100%;
  overflow-y: scroll;
  resize: none;
}

#footer {
  clear: both;
  margin: 10px 10px;
  text-align:center;
}
